<div class="main container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="title">FELLOW CITIZENS</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			{{outlet}}
		</div>	
	</div>
</div>