<div class="row">
	<div class="col-xs-6">
		{{geo-map precincts=model
			onhighlight=(action 'highlight')
			ondehighlight=(action 'dehighlight')
			onselect=(action 'select')
			ondeselect=(action 'deselect')}}
	</div>
	<div class="col-xs-6">
		<ul>
			{{#each selected as |precinct|}}
				<li>{{precinct.code}}</li>
			{{/each}}
		</ul>
	</div>
</div>