<div class="row">
	<div class="col-xs-6">
		{{geo-map precincts=model
			onhighlight=(action 'highlight')
			ondehighlight=(action 'dehighlight')
			onselect=(action 'select')
			ondeselect=(action 'deselect')}}
	</div>
</div>